.logo {
  width: 10%;
  float: right;
}

label {
  font-size: 150%;
  margin-right: 1%;
}

.out {
  margin-left: 1%;
}

.p-m {
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
}

.plus {
  color: green;
  padding-left: 2.7%;
  padding-right: 2.7%;
  font-size: 350%;
  padding-bottom: 1%;
  touch-action: manipulation;
  outline: none;
}

.minus {
  color: red;
  padding-left: 1.9%;
  padding-right: 1.9%;
  font-size: 225%;
  touch-action: manipulation;
  outline: none;
}

h4 {
  font-size: 150%;
}

h3 {
  font-size: 200%;
  margin-left: 45%;
}

#on_number {
  color: green;
  display: inline-block;
}

#off_number {
  color: red;
  display: inline-block;
}

#counter * {
  display: inline-block;
  margin-left: 3%;
}

#counter {
  margin-left: 37.5%;
}

.t {
  margin-top: 3%;
}

#survey {
  margin-left: 3%;
}

textarea {
  resize: none;
}

#submit {
  color: green;
  margin-left: 65%;
  margin-right: 3%;
}

#reset {
  color: red;
}

#submit {
  font-size: 250%;
}

#submits {
  margin-top: 3%;
  font-size: 150%;
}

#error-message {
  color: red;
}

.number_container {
  width: 4em;
}
